.App {
  text-align: center;
  background-color: #dbdbdb; /* El color de fondo que prefieras */
  min-height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  justify-content: flex-start;
}

.nav-link {
  margin-right: 10px;
  color: lightgray;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.nav{
  margin-left: 40px;
}

.carrusel-home {
  width: 800px;
  height: 400px;
  margin: auto 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carrusel-home-container{
  display: flex; /* Necesario para usar justify-content */
  justify-content: center; /* Centrará el contenido horizontalmente */
  align-items: center; /* Centrará el contenido verticalmente */
}